$h2color: rgb(0, 0, 0);

body {
  background: white;
}

.intro {
  height: 102vh;
  background: url(background.png);
  background-size: cover auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  background: #000;
  opacity: 0.7;
  height: 32px;
  width: 210vh;
  z-index: 1;
}

nav li {
  display: inline;
  padding: 4em 5em;
}

li a {
  position: fixed;
  font-size: 18px;
  color: #fefcfd;
  font-family: 'PT Serif', serif;
  margin-top: 5px;
}

nav a:hover {
  color: #fefcfd;
  text-decoration: none;
}

.comuni {
  position: fixed;
  margin-left: 1750px;
  margin-top: -0.5%;
}
.email {
  width: 35px;
}

.linked {
  width: 25px;
}

.git {
  width: 25px;
}
.david {
  text-align: center;
  font-size: 35px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  color: black;
  position: absolute;
  margin-top: -25%;
  margin-left: 42%;
}

.webdeveloper {
  font-size: 30px;
  font-family: 'PT Serif', serif;
  margin-top: 0.2em;
  color: #000;
}

/** pag 2**/

.whoim h2 {
  margin: 0 0 1em;
  margin-top: 0px;
  font-size: 35px;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  color: $h2color;
}

.box {
  background-image: url(box.jpg);
  width: 100%;
  margin: 1% 2%;
  padding: 370px;
  box-sizing: border-box;
  margin-left: 0;

  background-color: white;
  height: 70vh;
}

.box img {
  width: 300px;
  clip-path: circle();
  margin-top: -6em;
  float: right;
  margin-left: 2em;
  margin-top: -3em;
  z-index: -999px;
}

.whoim p {
  text-align: left;
  font-size: 22px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  color: black;
}

.eusou::first-letter {
  font-size: 150%;
}

/** pag 3**/

.pro {
  background-image: url(projectsimg.png);
  margin-top: 200px;
  background-size: auto;
  height: 950px;
}

.pro h2 {
  font-family: 'PT Serif', serif;
  position: relative;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  padding: 80px;
  color: $h2color;
}

.computer img {
  margin-top: -11em;
  margin-left: 1em;
  width: 1350px;
}

.computer {
  background: #ffffff;
  width: 85%;
  margin: 0%;
  padding: 100px;
  box-sizing: border-box;

  margin-left: 6em;
  height: 600px;
}

/** pag 4**/

.collapsible {
  width: 60px;
  height: 60px;
  color: white;
  background-color: black;
  font-size: 40px;
  border-radius: 50%;
}

.active,
.collapsible:hover {
  background-color: #ced0ce;
}

.cont {
  font-size: 35px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  color: $h2color;
  text-align: center;
  margin-top: 100px;
  height: 40vh;
  background-image: url(contact.png);
  background-color: white;
  height: 100vh;
}

.box2 {
  position: relative;
  background-color: #ff5757;
  margin-left: 35%;
  width: 550px;
  margin-top: 100px;
  box-sizing: border-box;
  border: 6px solid #ced0ce;
  border-radius: 20px;
  display: flex;
  height: 650px;
}

.name {
  font-size: 22px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  color: #fefcfe;
  margin: 18vh 20vh;
  line-height: 1;
  text-align: left;
  margin-top: 40px;
}

.input {
  margin: 0px 40px;
  width: 60%;
  /*lagura com proporcao da tela */
  padding: 10px 0;
  /* espaco enterno ex botao */
  background: #525b60;
  /*cor de fundo*/
  color: white;
  /*cor do conteudo*/
  font-weight: bold;
  /* tipo de letra*/
  font-size: 25px;
  /*tamanho da letra*/
  border: none;
  /*tirar a borda*/
  border-radius: 5px;
  /*arredondar a borda*/
  transition: 1s all;
  /*tempo de transicao de cores*/
  cursor: pointer;
}
