body {
  background: white;
}

.intro {
  height: 102vh;
  background: url(background.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  
}

nav {
  position: flex;
  position: fixed;
  background: #000;
  opacity: 0.7;
 width: 100%;
  z-index: 1;
 
}

nav ul{
  display: flex ;
}


nav ul li {
  display: flex;
text-align: center;
width: 100%;

}

nav ul li a{
display: inline-block;
padding: 10px 30px;
width: 100%;
text-decoration: none;
color: white;
font-size: 18px;
font-family: "PT Serif", serif;

}

nav a:hover {
  color:beige;
  text-decoration: none;
}

.comuni {
  position: fixed;
  margin-top: -30px;
  
}

.email {
  width: 35px;
}

.linked {
  width: 25px;
}

.git {
  width: 25px;
}

.david {
  text-align: center;
  font-size: 50px;
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: black;


}

.webdeveloper {
  font-size: 30px;
  font-family: "PT Serif", serif;
  margin-top: 0.2em;
  color: #000;
}

/** pag 2**/
.whoim h2 {
  margin: 0 0 1em;
  margin-top: 0px;
  font-size: 35px;
  text-align: center;
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: black;
}

.box {
  
  background-image: url(box.jpg);
  width: 100%;
  margin: 1% 2%;
  padding: 370px;
  box-sizing: border-box;
  margin-left: 0;
  background-color: white;
  height: 70vh;
}

.box img {
  width: 300px;
  -webkit-clip-path: circle();
   clip-path: circle();
  margin-top: -6em;
  float: right;
  margin-left: 2em;
  margin-top: -3em;
  z-index: -999px;
  position: flex;
  
}

.whoim p {
  text-align: left;
  font-size: 22px;
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: black;
}

.eusou::first-letter {
  font-size: 150%;
}

/** pag 3**/
.pro {
  background-image: url(projectsimg.png);
  margin-top: 200px;
  background-size: auto;
  height: 950px;
}

.pro h2 {
  font-family: "PT Serif", serif;
  position: relative;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  padding: 80px;
  color: black;
}

.computer img {
  margin-top: -11em;
  margin-left: 1em;
  width: 100%;
  min-width: 300px
}

.computer {
  background: #ffffff;
  width: 85%;
  margin: 0%;
  padding: 100px;
  box-sizing: border-box;
  margin-left: 6em;
  height: 600px;
}

/** pag 4**/
.collapsible {
  width: 60px;
  height: 60px;
  color: white;
  background-color: black;
  font-size: 40px;
  border-radius: 50%;
}


.active,.collapsible:hover {
  background-color: #ced0ce;
}

.cont {
  font-size: 35px;
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 100px;
  height: 40vh;
  background-image: url(contact.png);
  background-color: white;
  height: 100vh;
}

.box2 {
  position: relative;
  background-color: #ff5757;
  margin-left: 35%;
  width: 550px;
  margin-top: 100px;
  box-sizing: border-box;
  border: 6px solid #ced0ce;
  border-radius: 20px;
  display: flex;
  height: 650px;
}

.name {
  font-size: 22px;
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #fefcfe;
  margin: 18vh 20vh;
  line-height: 1;
  text-align: left;
  margin-top: 40px;
}

.input {
  margin: 0px 40px;
  width: 60%;
  /*lagura com proporcao da tela */
  padding: 10px 0;
  /* espaco enterno ex botao */
  background: #525b60;
  /*cor de fundo*/
  color: white;
  /*cor do conteudo*/
  font-weight: bold;
  /* tipo de letra*/
  font-size: 25px;
  /*tamanho da letra*/
  border: none;
  /*tirar a borda*/
  border-radius: 5px;
  /*arredondar a borda*/
  transition: 1s all;
  /*tempo de transicao de cores*/
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */


